.item-inner {
    box-shadow: inset 0 0px 0 0!important; //overwrites bottom border on items
  }
  .roller-card{
    border-top: 3px solid $color5;
  }
ion-card{
    padding: 1em;
}
ion-card-header{
    color:$color2!important;
}
h1{
    color: white!important;
}