#scatterDiceContainer{
    width: 200px;
    height: 200px;
    //border: 1px solid red;
    text-align: center;
    
}
#scatter{
    height: 100%;
    font-size: 5em;
    width: 100%;
    vertical-align: middle;
}
.hit{
    padding-top: 30%;
}